._wrapper {
  padding: 100px 0;

  ._dividers {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }

  ._content {
    ._title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      a {
        display: block;
        color: #0e1e59;
      }
    }
  }

  ._image_wrapper {
    img {
      width: 100%;
      object-fit: contain;
      min-height: 100%;
    }
  }
}
