._wrapper {
  padding: 100px 0;

  ._provide_wrapper {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 5px;
    }

    ._title {
      font-size: 24px;
      font-weight: bold;
    }
    ._subtitle {
      font-size: 20px;
      font-weight: 600;
    }
    ._description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-top: 10px;
    }

    ul {
      margin-top: 20px;
      padding-left: 15px;
      li {
        font-weight: bold;
        margin-top: 5px;
        list-style: disc;
      }
    }
  }

  .divider_wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
  }

  ._our_services {
    padding: 50px 0;
    ._single_card {
      background-color: #1c252e !important;
      border-radius: 12px;
      padding: 25px;
      min-height: 100%;

      * {
        color: #fff;
      }

      ._title {
        font-size: 24px;
        font-weight: bold;
      }

      ._description {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 15px;
      }
    }
  }
}
