.air-freight__wrapper {
  background-image: url("/assets/images/sea.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
  }

  @media only screen and (max-width: 768px) {
    padding: 3rem 0;
  }

  .content__wrapper {
    position: relative;
    color: #fff;

    .section__head {
      .section__heading {
        font-weight: 600;
        text-transform: uppercase;

        @media only screen and (max-width: 768px) {
          font-size: 1.3rem;
        }
      }

      p {
        font-size: 1.1rem;

        @media only screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    .form {
      margin-top: 2rem;

      .input__group {
        display: flex;
        gap: 8rem;
        max-width: 50rem;

        @media only screen and (max-width: 768px) {
          flex-direction: column;
          gap: 1.5rem;
        }
      }

      .your__details {
        margin-top: 1.5rem;

        .details__input__group {
          display: flex;
          gap: 1.5rem;

          @media only screen and (max-width: 768px) {
            flex-direction: column;
          }
        }
      }

      .select__group {
        margin-top: 8rem;
        display: flex;
        gap: 10rem;
        max-width: 50rem;
        margin-bottom: 3rem;

        @media only screen and (max-width: 768px) {
          margin-top: 3rem;
          width: 100%;
          flex-direction: column;
          gap: 1.5rem;
        }

        .single__select {
          width: 100%;

          p {
            margin-bottom: 3px;
            text-transform: uppercase;
            font-size: 0.8rem;
          }

          .select {
            border: 1px solid #fff !important;
            border: 4px;
            color: #fff !important;

            &::placeholder {
              color: #fff;
            }
          }
        }
      }

      .submit__btn {
        box-shadow: none;
        background: #fff !important;
        color: #0e1e59;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 25px;
        margin-top: 4rem;

        @media only screen and (max-width: 768px) {
          font-size: 1.2rem;
          margin-top: 2rem;
        }
      }
    }
  }
}

.single__input {
  width: 100%;

  .input__title {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .input__label {
    margin-top: 5px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }

  input {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 1rem;
    color: #fff;

    &::placeholder {
      color: #fff;
      opacity: 0.8;
      font-size: 0.8rem;
      text-transform: uppercase;
    }
  }
}

.list__item {
  color: #0e1e59 !important;
}

.list__item:not(:last-child) {
  border-bottom: 1px solid #0e1e59 !important;
}
