.__wrapper {
  padding: 2rem 0;

  @media screen and (min-width: 990px) {
    padding: 5rem 0;
  }

  .__content__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .title {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 2.5rem;
      font-family: century-gothic, sans-serif;
      font-weight: 700;
      color: #1c252e;
      max-width: 960px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;

      .svgWrapper {
        margin-left: 10px;
        display: inline-block;
        height: 1em;
        width: auto;

        svg {
          width: auto;
          height: 100%;
          display: block;
        }
      }
    }

    .paragraph {
      color: #1c252e;
      max-width: 900px;
      margin: 0 auto 10px;
      text-shadow: 0 0 #1c252e;
      text-align: center;

      .link {
        display: inline-block;
        color: #4ce4c6;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
