.content__wrapper {
  padding: 4rem 0;
  margin-top: 2rem;

  .separator {
    display: flex;
    justify-content: center;
  }

  .office__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .office__heading {
      text-align: center;
      font-weight: 600;
      color: #1c252e;
      padding: 3rem 0;

      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .main__content {
      background: #1c252e;
      border-radius: 6px;
      padding: 1.5rem;
      width: 480px;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      .img__box {
        width: 100%;
        height: 250px;
        overflow: hidden;
        background: linear-gradient(
          90deg,
          #4be0c5 0,
          #2b3990 50%,
          #02ddf9 100%
        );
        padding: 8px;

        .image {
          display: block;
          overflow: hidden;
          width: 100%;
          height: 100%;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            transition: 0.4s;
          }
        }

        &:hover .image img {
          transform: scale(1.1);
        }

        .btn {
          position: absolute;
          right: 5%;
          bottom: 5%;
          width: 40px;
          height: 40px;
          background: #4ce4c6;
          color: #1c252e;
          font-size: 1.5rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 25px;
          border: 1px solid #4ce4c6;
          transition: 0.4s;
        }

        &:hover .btn {
          background: #fff;
          color: #4ce4c6;
        }
      }

      .office__location {
        margin-top: 1.5rem;
        color: #fff;

        .heading,
        .telephone {
          font-weight: 700;
        }

        .heading {
          margin-bottom: 1rem;
        }

        .telephone {
          display: flex;
        }

        .info {
          font-size: 1.3rem;
          // margin: 1rem 0;
        }

        .link,
        .directions {
          color: #4ce4c6;

          &:hover {
            color: #1ec6a5;
            text-decoration: underline;
          }
        }

        .directions {
          text-decoration: underline;
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
  width: max-content;
  display: block;
}
