.__wrapper {
  .title {
    color: #1c252e;
    max-width: 960px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
}
