.__wrapper {
  padding: 5.5rem 0 2rem 0;

  height: 100vh;
  min-height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  @media screen and (max-width: 990px) {
    padding: 3rem 0 1rem 0;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .__textWrapper {
    text-align: left;
    position: relative;
    z-index: 3;

    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 992px) {
      margin-top: 80px;
    }

    .innerTextWrapper {
      width: 100%;
      max-width: 420px;

      @media screen and (min-width: 768px) {
        max-width: 602px;
      }

      @media screen and (min-width: 992px) {
        max-width: 695px;
      }

      .title {
        font-size: 38px;
        margin-bottom: 15px;
        color: #fff;
        line-height: 1em;
        letter-spacing: 0.02em;
        font-weight: 700;

        @media screen and (min-width: 380px) {
          font-size: 45px;
        }

        @media screen and (min-width: 768px) {
          font-size: 65px;
          margin-bottom: 30px;
        }

        @media screen and (min-width: 992px) {
          font-size: 75px;
          margin-bottom: 45px;
        }
      }

      .divider {
        margin-bottom: 35px;
        width: 100%;
        display: block;
        height: 6px;
        border-radius: 30px;
        background: #02ddf9;
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#4be0c5),
          color-stop(50%, #2b3990),
          to(#02ddf9)
        );
        background: linear-gradient(
          90deg,
          #4be0c5 0,
          #2b3990 50%,
          #02ddf9 100%
        );
      }

      .description {
        font-size: 16px;
        display: block;
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 1.2em;
        color: #fff;

        @media screen and (min-width: 667px) {
          font-size: 18px;
        }

        @media screen and (min-width: 768px) {
          font-size: 22px;
        }
      }
    }
  }
}
