.__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  ._url {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .__layer {
    padding-left: 30px;

    ._url {
      text-decoration: none;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
